@(states: List[models.State])

@layout {

    <h2>Battle</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Attack</th>
                <th>health</th>
            </tr>
        </thead>
        <tbody>
            @for(state <- states) {
                <tr>
                    <td>@state.id</td>
                    <td>@state.name</td>
                    <td>
                        <a href='@routes.States.attack(state.enemy_id, state.id)'>Attack</a>
                    </td>
                    <td>@state.health</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
