@(users: List[models.User], form: Form[models.User])

@layout {

    <h2>New User</h2>

    @helper.form(action = routes.Users.create){

        @helper.inputText(form("name"), '_label -> "Name")
        @helper.inputText(form("emailAddress"), '_label -> "Email Address")

        <input type="submit" value="New User" />
    }

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(user <- users) {
                <tr>
                    <td>@user.name</td>
                    <td>@user.emailAddress</td>
                    <td>
                        <a href='@routes.Users.edit(user.id)'>Edit</a>
                    </td>
                    <td>
                        @helper.form(action = routes.Users.delete(user.id)){
                            <input type="submit" value="Delete!" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
